*{
    margin: 0;
    padding: 0;
}
.grid-container
{
    background-color: rgb(205, 212, 212); 
    display: grid;
    grid-template-columns: 140px 288px 288px 288px 140px;
    grid-template-rows: 50px auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 20px;
}

.grid-item1
{
    display: flex;
    grid-column-start: 3;
    justify-content: center;
}

.grid-item2
{
    width: 100%;
    display: flex;
    grid-row-start: 2;
    grid-column: 2/span 3;
    justify-content: space-between;
}

.navigation
{
    grid-column: 2/span 2;
    display: flex;
    color: black;
}

a
{
    text-decoration: none;   
    color: black; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

.home
{
    color: black;
    margin-left: 7px;
    margin-right: 7px;
}

.our-products
{
    color: black;
    margin-left: 7px;
    margin-right: 7px;
}

.contact-us
{
    color: black;
    margin-left: 7px;
    margin-right: 7px;
}

.about-us
{
    color: black;
    margin-left: 7px;
    margin-right: 7px;
}

.search-bar
{
    display: flex;
    justify-content: space-around;
}

.search-box
{
    padding-left: 8px;
    margin-right: 5px;
    height:20px; 
    border-radius: 9px 9px 9px 9px;
    border: 1px solid rgb(139, 139, 139);
}

.grid-item3
{
    grid-row: 3/span 4;
    grid-column: 1/span 5;
}

 .grid-item4
{
    margin-top:60px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    grid-row-start: 3;
    grid-column:2/span 3;
    font-family: 'Times New Roman', Times, serif;
}
h1
{
    font-size: 1.3em;
    font-weight: normal;
}
h3{
    align-self: center;
}
h2
{
    align-self: center;
}
.h1 {
    font-size: 3em;
}
.p1
{
    border-radius: 10%;
    height: 470px;
    width: 280px;
    grid-column: 2/span 1;
    grid-row-start: 4;
}
.p2
{
    grid-row-start: 4;
    grid-column: 3/span 1;
    border-radius: 10%;
    height: 470px;
    width: 280px;
}
.p3
{
    grid-row-start: 4;
    grid-column: 4/span 1;
    border-radius: 10%;
    height: 470px;
    width: 280px;
}
.p4
{
    grid-row-start: 5;
    grid-column: 2/span 1;
    border-radius: 10%;
    height: 470px;
    width: 280px;
    margin-top: -4px;
}
.p5
{
    grid-row-start: 5;
    grid-column: 3/span 1;
    border-radius: 10%;
    height: 470px;
    width: 280px;
    margin-top: -4px;
}
.p6
{
    grid-row-start: 5;
    grid-column: 4/span 1;
    border-radius: 10%;
    height: 470px;
    width: 280px;
    margin-top: -4px;
}
.img2
{
    border-radius: 10% 10% 0 0;
}
.img3
{
    border-radius: 10% 10% 0 0;
}
.img4
{
    border-radius: 10% 10% 0 0;
}
.img5
{
    border-radius: 10% 10% 0 0;
}
.img6
{
    border-radius: 10% 10% 0 0;
}
.img7
{
    border-radius: 10% 10% 0 0;
}
.prod-name
{
    padding-top: 10px;
    text-align: center;
    background-color:white;
    margin-top: -10px;
    height: 70px;
    font-family:Arial, Helvetica, sans-serif;
}
.update
{
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(233, 233, 233, 0.966);
    height: 50px;
    width: 280px;
}
.update-btn
{
    align-self: center;
    height:30px;
    width:120px;
    border-color: rgb(228, 93, 228);
    color: rgb(180, 13, 180);
}
.grid-item7
{
    margin-top: -5px;
    background-color: rgb(46, 46, 46);
    grid-row: 6 / span 2;
    grid-column: 1/span 5;
    width: 1225px;
}
.paragraph
{
    margin-top: 50px;
    margin-left: 50px;
    grid-row-start: 6;
    grid-column: 2/span 1;
    color: white;
}
.useful-links
{
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 70px;
    grid-row-start: 6;
    grid-column: 3/span 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.links
{
    padding: 5px;
    color: white;
    margin-top: 10px;
}
a
{
    color: white;
}
.contact
{
    margin-right: 50px;
    margin-top: 50px;
    margin-left: -10px;
    grid-row-start: 6;
    grid-column: 4/span 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contacts
{
    padding: 5px;
    color: white;
}
i
{
    margin-top: 10px;
}
.line1
{
    margin-top: 32px;
    margin-left: -50px;
    margin-right: -35px;
}
.line2
{
    margin-top: 40px;
    margin-left: -80px;
    margin-right: -30px;
}
.line3
{
    margin-top: 41.5px;
    margin-left: -40px;
    margin-right: -50px;
}
.footer
{
    font-family: Arial, Helvetica, sans-serif;
    grid-row-start: 7;
    grid-column: 2/span 3;
    color: white;
}
.footer
{
    display: flex;
    grid-row-start: 7;
    grid-column: 2/span 3;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-media
{
    grid-column: 4/span 1;
    display: flex;
    color: white;
}
.sm-links
{
    margin-left: 30px;
}